/*Making use of css grid for layout simplicity */

.main-grid-wrapper
{
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 1;
}

#header-wrapper 
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-left: 5em;
	margin-top: 3em;
	padding-left: auto;
	padding-right: auto;
	background-color: #FF5733;
}
#header
{
	margin: 0 auto;
	height: 5em;

}

#title-text
{
	display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    vertical-align: middle;

}

#sub-wrapper
{
	grid-row-start: 2;
	grid-row-end: 3;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-left: 5em;
	margin-top: 3em;
	padding-left: 5em;
	padding-right: 5em;
	display: grid;
	grid-template-columns: 2;
	grid-template-rows: auto: 
}

#meta-wrapper
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
	padding-left: 5em;
	padding-right: 5em;
	display: grid;
	grid-template-columns: 3;
	grid-template-rows: auto: 
	
}

.authorItem
{
	width:auto;
	/*Light Green*/
	background-color: #DAF7A6;
}

#author-box
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

.metaItem
{
	position: float;
	display: inline-block;
	vertical-align: text-center;
	/*Yellow*/
	background-color: #FFC300;
	

}
.p-item
{
	margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    top: auto;
}


#metaOne
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
}

#metaTwo
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 2;
	grid-column-end: 3;
}

#metaThree
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 3;
	grid-column-end: 4;
}

.meta-Post-Space
{
	padding-right: 3em
}



.no-vert-margin
{
	margin: 0em;
	text-align: center;
	
}

.small-rounded-edges
{
	border-radius: .5em;
	border: none;
}

.left-space
{
	margin-left: 2em;
}

.right-space
{
	margin-right: 2em;
}