

#header-wrapper 
{
	grid-row-start: 1;
	grid-row-end: 2;
	grid-column-start: 1;
	grid-column-end: 2;
	margin-left: 5em;
	margin-top: 3em;
	padding-left: auto;
	padding-right: auto;
	background-color: grey;
}

#content-wrapper
{
	grid-column-start: 1;
	grid-column-end: 2;
	display: grid;
  	grid-template-rows: auto;
  	grid-template-columns: 3;
  	margin-left: 3em;
  	margin-right: 3em;
  
}

.item-wrapper
{
	display: grid;
	
  	grid-template-columns: repeat(6,1fr);
	grid-column-gap: 2em;
  	grid-template-areas: "one two three four five six"
}

#one
{
	grid-area: one;
}

#two
{
	grid-area: two;
}

#three
{
	grid-area: three;
}

.item-grid-wrapper
{
	display: grid;
	grid-template-rows: repeat(11,55px);
	grid-template-columns: repeat(5,50px);
  	grid-template-areas: 
  		"image image image image image"
  		"image image image image image"
  		"image image image image image"
  		"image image image image image"
  		"image image image image image"
  		"desc desc desc desc desc"
  		"stores stores stores stores stores"
  		"stores stores stores stores stores"
  		"stores stores stores stores stores"
  		"stores stores stores stores stores"
  		"stores stores stores stores stores"
  	
}



.item-image
{
	grid-area: image;
  	background-color: green;
}

.item-descrpt
{
	grid-area: desc;
  	background-color: yellow;
}

.item-stores
{
	grid-area: stores;
  	background-color: tan;
}